In [ ]:
# approach chnage. 
#convert df to dict
# compare dict value and create new dict if found

In [10]:
import pandas as pd
import matplotlib
matplotlib.use('Agg')
from datascience import Table
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('fivethirtyeight')

In [3]:
df = pd.read_csv('/home/sangharsh/Documents/PoA/data/FIR/January2/poa_summary/modified.csv', index_col=0)
df_IPC = pd.read_csv('/home/sangharsh/Documents/PoA/data/FIR/January2/poa_summary/IPC_sections.csv')
df['modified_IPC'] = df['IPC'].str.slice_replace(0, 7, '')
df['modified_IPC'] = df['modified_IPC'].str.split(",")
df['modified_IPC'] = df['modified_IPC'].apply(lambda d: d if isinstance(d, list) else [])

In [10]:
base_dict = pd.DataFrame(df[['FIR', 'modified_IPC']])

In [37]:
df_2 = df_IPC[['Marathi']].copy().dropna()
only_IPC_sections_1 = df_2.values.tolist()
only_IPC_sections = [item for sublist in only_IPC_sections_1 for item in sublist]
list_sections = df['modified_IPC'].to_list()
new = []
for i in list_sections:
    check = any(map(lambda v: v in i, only_IPC_sections))
    if check == True:
        new.append(1)
    else:
        new.append(0)
df["new"] = pd.DataFrame(new)
new_df = df[["SN","District", "Police_Station", "FIR", "modified_IPC", "new", "PoA"]]

In [38]:
table = Table.from_df(new_df)

section_3_2_5 = table.where("new", 1)
v_df = Table.to_df(section_3_2_5)

/home/sangharsh/.local/lib/python3.8/site-packages/datascience/tables.py:920: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array(tuple(values))

In [39]:
list1 = v_df["PoA"].to_list()

In [40]:
v = []
for i in list1:
    if "v" in i or "V" in i or "पाच" in i:
        v.append(0)
    else:
        v.append(1)
v_df["v"] = pd.DataFrame(v)
new_table = Table.from_df(v_df)
issues = new_table.where("v", 1)
issues

SN   | District      | Police_Station    | FIR  | modified_IPC                                                 | new  | PoA                            | v
14   | BEED          | PETH BEED         | 7    | ['१४३', '१४८', '१४९', '३०७', '३४१', '३४७', '५०४', '५०६ ']    | 1    | PoA - 3(1)(r),3(1)(s),4        | 1
56   | SOLAPUR RURAL | PANDHARPUR TALUKA | 32   | ['१४३', '१४७', '१४८', '१४९', '३२३', '३२६', '५०४', '५०६ ']    | 1    | PoA - 3(1)(r),3(1)(s)          | 1
58   | THANE CITY    | NAUPADA           | 11   | ['३२३', '३४', '४०६', '४२०', '४६५', '४६७', '४६८', '४७१',  ... | 1    | PoA - 3,3(1)(r),3(1)(s)        | 1
77   | PUNE RURAL    | LONAVALA RURAL    | 25   | ['४२०', '४६७', '४६८', '४७१ ']                                | 1    | PoA - 3(1)(f),3(1)(g),3(1)(r)  | 1
89   | BEED          | AMBAJOGAI RURAL   | 16   | ['१४३', '१४७', '१४८', '१४९', '३२३', '३२४', '३२७', '४५२', ... | 1    | PoA - 3(1)(r),3(1)(s)          | 1